i.discover-search-icon{
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #64748B;
}


.Discovered-Hosts .form-select{
    width: 100%;
}

@media (min-width: 768px) {
  .Discovered-Hosts .form-select{
      width: auto;
      min-width: 140px;
  }
}